.container-fluid {
  margin: 0;
  padding: 0;
}

// Syntactical classes
.float-right {
  clear: both;
  float: right;
}

.float-left {
  float: left;
}


// ------- NAVBAR -------
.navbar {
  display: inline-block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar-header {
  position: static;

  .navbar-logo {
    .navbar-brand {
      // padding: 5px;
      margin-left: 0;
    }
  }
}

// ----- POSITION ALL VIEWS BELOW NAVBAR-------
.view-space {
  top: 50px;
}
// ----- END ------


// Routes
.sign-in,
.sign-up,
.change-password {
  padding: 0;

  .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}

// Sign In View & Sign Up View
.sign-in,
.sign-up {
  margin-top: 10vh;
  padding: 15px;

  h2 {
    margin: 10px;
    text-align: center;
  }
}

// Add Top Margin in to API Failure Alerts
.alert-danger,
.alert-success {
  margin-top: 10px;
}


// -------------------- BROWSE MOVIES VIEW ---------------
.browse-movies,
.screenings {
  h2 {
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
  }

  .movie-card,
  .screening-card {
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 0 10px;

    h3 {
      padding: 0;
    }

    h4 {
      margin-top: 0;
      padding: 0;
    }

    .movie-title {
      margin-top: 8px;
    }

    .year-released {
      margin-top: 10px;
      text-align: right;
    }

    .rating {
      text-align: right;
    }

    .user-rating {
      padding: 7px 0 0 15px;
    }

    .form-control {
      padding: 6px;
      text-align: center;
    }
  }

}
