
.col-md-4 {
  padding: 0;

  .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}

// Sign In View & Sign Up View
.sign-in,
.sign-up {
  margin-top: 10vh;
  padding: 15px;

  h2 {
    margin: 10px;
    text-align: center;
  }

  // .alert-danger {
  //   margin-top: 10px;
  // }
}

// Add Top Margin in to API Failure Alerts
.alert-danger {
  margin-top: 10px;
}
