
.col-md-4 {
  padding: 0;

  .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}

// Sign In View
.sign-in {
  margin-top: 10vh;
  padding: 15px;

  h2 {
    margin: 10px;
    text-align: center;
  }
}
