

// Sign In
.sign-in {
  background-color: $off-white;
  border: 2px solid $charcoal;
  border-radius: 3px;
  margin-top: 10vh;
  padding: 15px;

  .sign-in-button {
    font-size: 1.2em;
    width: 100%;
  }
}
