// Sign In and Sign up View
.sign-in,
.sign-up {
  background-color: $off-white;
  border: 2px solid $charcoal;
  border-radius: 3px;

  .sign-in-button,
  .sign-up-button {
    font-size: 1.2em;
    width: 100%;
  }
}

// Browse Movies
.browse-movies,
.screenings {
  .screening-card,
  .movie-card {
    background-color: $off-white;
    border: 2px solid $charcoal;
    border-radius: 3px;
  }

  .trash-button,
  .pencil {
    background-color: $off-white;
    border: 0;
    cursor: pointer;
    padding: 0;
    text-align: center;
  }

  // .movie-title {

  // }
}
