// Sign In and Sign up View
body {
  background-color: $grass;
}


.sign-in,
.sign-up {
  background-color: $off-white;
  border: 2px solid $charcoal;
  border-radius: 3px;

  .sign-in-button,
  .sign-up-button {
    font-size: 1.2em;
    width: 100%;
  }
}

// Browse Movies
.browse-movies,
.screenings {
  .screening-card,
  .movie-card {
    background-color: $off-white;
    border: 2px solid $charcoal;
    border-radius: 3px;
  }

  .trash-button,
  .pencil {
    background-color: $off-white;
    border: 0;
    cursor: pointer;
    padding: 0;
    text-align: center;
  }
}

.app-title {
  color: $ash;
  font-family: $pathway-gothic;
  font-size: 16vw;
  margin-top: 16vh;
  text-align: center;
  text-shadow: 7px 4px 3px $black;
}

.h2 {
  color: $off-white;
}
