<div class="screenings col-md-10 col-md-offset-1">
  <h2>Your Movie Ratings</h2>
  {{#each model as |screening|}}
      {{fwf-screening userRating=screening.userRating
                      movie=screening.movie
                      screening=screening
                      deleteScreening='deleteScreening'
                      updateScreening='updateScreening'}}
  {{/each}}
</div>
