
<div class="movie-card col-md-4 col-md-offset-1">
  {{fwf-movie/browse-card title=movie.title
                          director=movie.director
                          yearReleased=movie.yearReleased
                          genre=movie.genre
                          rating=movie.rating
                          movie=movie
                          createScreening=createScreening}}
</div>
<div class="col-md-1"></div>
