<div class="screening-card col-md-4 col-md-offset-1">
  {{fwf-screening/card movie=movie
                       title=movie.title
                       director=movie.director
                       yearReleased=movie.yearReleased
                       genre=movie.genre
                       userRating=userRating
                       updateScreening="updateScreening"
                       delete="deleteScreening"}}
</div>
<div class="col-md-1"></div>
