<div class="browse-movies col-md-10 col-md-offset-1">
  <h2>Movies</h2>
  {{#each model as |movie|}}
      {{fwf-movie title=movie.title
                  director=movie.director
                  yearReleased=movie.yearReleased
                  genre=movie.genre
                  rating=movie.rating}}
  {{/each}}
</div>
